.button {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.6em;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button:hover {
  text-decoration: none;
  padding: 0.6em;
  background-color: black;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-sb {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.article-card {
  padding: 0.5rem;
  width: 288px;
  height: 324px;
}

.relative {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.article-thumbnail {
  width: 288px;
  height: 208px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* <!-- class="absolute top-4 right-4 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white text-sm px-2 py-0.5" --> */
.article-date {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: rgb(29, 29, 29);
  padding: 0.125rem 1rem;
}

.article-title {
  font-size: 1.8rem;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  color: #212121;
}

.article-title:hover {
  color: rgb(21, 101, 192);
}

.article-card:hover {
  text-decoration: none;
}

.article-desc {
  font-family: Merriweather, Georgia, serif;
  font-size: 1.6rem;
  color: #212121;
}

.posts-container {
  margin: 0 auto;
  max-width: 100rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-posts {
  margin: 3.2rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.portfolio-container{
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 10px;
  border-radius: 2rem;
  border: 2px solid #000;
}

.portfolio-made {
  text-align: center;
  padding-bottom: 10px;
}

.portfolio-content {
  width: 262px;
  padding: 0.8125em 0.625em;
  border-top: 2px solid #000;
}

.portfolio-desc {
  margin: 0;
  padding: 0.9rem;
  text-align: center;
}

.portfolio-title {
  margin: 0;
  text-align: center;
  font-size: 2.4rem;
}

.portfolio-thumbnail {
  display: block;
  width: 262px;
  height: 208px;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
  padding: 0;
  margin: 0;
}

/* .blog-posts ul {
  margin: 3.2rem 0;
  list-style: none;
  padding: 0;
}
.blog-posts ul li {
  font-size: 1.8rem;
}
@media only screen and (max-width: 768px) {
  .blog-posts ul li {
    margin: 1.6rem 0;
  }
}
.blog-posts ul li .date {
  display: inline-block;
  width: 20rem;
  text-align: right;
  margin-right: 3rem;
} */
